.product {
  text-align: center;
  border: 1px solid rgba(26, 24, 24, 0.196);
  border-radius: 12px;
  width: 200px;
  padding: 40px;
  transition: all 0.2s;
  background-color: white;
}

.product:hover {
  transform: scale(1.1);
}

.image {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin: 8px 0;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* For WebKit browsers */
  line-clamp: 2; /* Standard property for future compatibility */
  -webkit-box-orient: vertical;
}

.product-button {
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: transparent;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.product-button:hover {
  transform: scale(1.1);
}

.product-button:active {
  background-color: #f7f7f7;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.product-price > p {
  margin-top: 35px;
}

ion-icon {
  font-size: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(26, 24, 24, 0.196);
}

.btn.btn-in-cart {
  background-color: rgb(23, 216, 23);
  border: 1px solid rgba(56, 216, 16, 0.196);
  color: white;
}
