.carrito {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 50px;
}

.product-cart-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.product-cart-card {
  display: flex;
  width: 60%;
  padding-inline: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgba(26, 24, 24, 0.196);
  border-radius: 12px;
}

.product-cart-card > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(26, 24, 24, 0.196);
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-delete:hover {
  transform: scale(1.1);
}

.btn-delete:active {
  background-color: #c3c2c2;
  transform: scale(0.98);
}

.product-card-title {
  width: 350px;
  margin-left: 20px;
}

.pay-method {
  display: flex;
  flex-direction: column;
}

.pay-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 50%;
  height: 80px;
  background-color: white;
  border: 1px solid rgba(26, 24, 24, 0.196);
  border-radius: 12px;
}

.method {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
