footer {
  margin: 0;
  padding: 20px; /* Ajusta según sea necesario */
  background-color: #f1f1f1; /* Cambia el color de fondo del footer */
  position: relative;
  background-color: rgb(26, 24, 24);
  color: white;
  height: 150px;
}

/* Si hay un contenedor envolvente, asegúrate de que no tenga márgenes */
.footer-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Ajusta según el diseño que necesites */
}

.footer-section {
  flex: 1 1 30%;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a {
  color: #f9a826; /* Color de los enlaces */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline; /* Subrayar al pasar el mouse */
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }

  .footer-section {
    flex: 1 1 100%; /* Cada sección ocupa el 100% */
    text-align: center; /* Centrar texto en móviles */
  }
}
