.product-details {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 100px;
  height: 100vh;
  width: 100%;
}

.product-c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: white;
}
